* :not(h1){
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    color: black;
}
h1 {
    font-family: 'Parisienne', cursive;
}
.logo {
    width: 138px;
    height: 138px;
}
header{
   background-image: url(./Assets/ileMauricePrincipale10.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 100%;
   height: 40vw;
}
.logoAndTitle{
    display: flex;
    align-items: center;
}
ul {
    margin-top: 0;
    width: 50%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    background-color: #9BD0E7;
    align-self: flex-end;
    position: fixed;
    right: 0; 
}
a:hover{
   color: white;
   
}
h2{
    font-size: xx-large;
    margin-bottom: 10vh;
    margin-left: 10vw;
}

h3{
    font-size: xx-large;
    margin-bottom: 5%;
}
.pictureMauriceHome{
width: 499;
height:516;
}
.paragraphAndPicture{
display: flex;
justify-content: space-around;
align-items: center;
}
/* .pictureAndParagraph{ 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}*/
  p{ 
    width: 35vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* .titleLeft{ 
    margin-left: 10%;
    font-size: x-large;
    margin-top: 5%;
}*/
/* .titleRight{ 
    text-align: right;
    margin-right: 25%;
    font-size: x-large;
    margin-top: 5%;
}*/
.map{
    display: flex;
    justify-content: center;
}
.titleAndParagraphAndPicture{
    display: flex;
    justify-content: space-around;
    margin: 15vh 0;
}
.titleAndParagraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pictureAndTitleAndParagraph{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 15vh 0;
}
